body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://png.pngtree.com/background/20220731/original/pngtree-cute-background-hearts-love-pattern-shaped-picture-image_1914059.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo img {
    width: 80px;
    height: 80px;
}
main {
    text-align: center;
    padding: 20px;
}
button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
.inicio-seccion {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
}
button:hover {
    animation: heartbeat 1s infinite;
    color:rgb(255, 255, 255);
    background-color: rgb(247, 5, 5);
}
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}